chat-with-pdf/.streamlit/secrets.toml
chat-with-pdf/__pycache__
chat-with-pdf/venv
chat-with-pdf/.tempdir/*

url-summarizer/.streamlit/secrets.toml
url-summarizer/__pycache__
url-summarizer/venv

text-2-sql/venv
text-2-sql/local_cache

chat-with-sql/.streamlit/secrets.toml
chat-with-sql/__pycache__
chat-with-sql/venv
chat-with-sql/netflix_titles.csv